@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, .GMap {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  position: absolute;
  width: 100%;
}

h1, #zoom {
  text-align: center;
}

.InfoWindow {
  font-family: 'Roboto', sans-serif;
}

.GMap-canvas {
  top: 20px;
  display: block;
  width: 50%;
  height: 50%;
  margin:auto;
}

.legend {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
}

.legend h3 {
  margin-top: 0;
}

.legend img {
  vertical-align: middle;
}
